/* ==========================================
   Portfolio Website - CSS
   Author: Kashithra J
========================================== */

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    color: blue;
}

h2 {
    color: darkblue;
}

/* Add this at the bottom */

.home {
    text-align: center;
}

.profile-image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #1565c0;
}
ul,
ol {
    margin-left: 20px;
}

p {
    text-align: justify;
}

button {
    background-color: #1565c0;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0d47a1;
}

a {
    color: #1565c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 30px 0;
}
